<!doctype html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body ng-app="youtubeApp">
 <p>Enter a search term to change the video feed: <input type="text" ng-model="search" placeholder="i.e. news"></input></p>
	<div ng-controller="VideoController">
		<div class="container">
			<div ng-repeat="video in videos">
				<div class="col-lg-4 col-md-6 container">
						<iframe id="ytplayer" type="text/html" height="213px" width="350px" ng-src="http://www.youtube.com/embed/{{video.id.videoId}}" frameborder="0"/>
				</div>
			<div>
		</div>
	</div>
</body>
</html>